<!DOCTYPE html>
<html lang="en">
<head>
    <title>AboutMeWebsite</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon"  type="image/png" href="favicon.ico"/>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3 p-4">
                <div class="album-cover"></div>
                <div>Tobokki sieu cay het y con nha ba ly dcm khai anh</div>
                <div>Cooking with Han</div>
                <div>10/06/2020</div>
            </div>
            <div class="col-sm-6 col-md-3 p-4">
                <div class="album-cover"></div>
                <div>Tobokki sieu cay</div>
                <div>Cooking with Han</div>
                <div>10/06/2020</div>
            </div>
            <div class="col-sm-6 col-md-3 p-4">
                <div class="album-cover"></div>
                <div>Tobokki sieu cay</div>
                <div>Cooking with Han</div>
                <div>10/06/2020</div>
            </div>
            <div class="col-sm-6 col-md-3 p-4">
                <div class="album-cover"></div>
                <div>Tobokki sieu cay</div>
                <div>Cooking with Han</div>
                <div>10/06/2020</div>
            </div>
        </div>
    </div>
</body>
<style>
    .album-cover {
            width: 230px;
            height: 230px;
            background-color: #DDD;
            background-image: url('https://via.placeholder.com/300');
            background-size: cover;
            background-position: center;
            color:#fff;
            font-size: 20px;
            border-radius: 10px;
            }
    .container{
        max-width: 1080px;
    }
</style>
</html>
