<!DOCTYPE html>
<html lang="en">
<head>
    <title>AboutMeWebsite</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon"  type="image/png" href="favicon.ico"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 p-4">
            <div class="d-flex align-items-center flex-column flex-md-row">
                <img src="https://picsum.photos/64/64" class="rounded-circle">
                <div class="ml-4">
                    <p class="h5">Coders.Tokyo</p>
                    <p>Cộng đồng học lập trình miễn phí đầu tiên tại Việt Nam</p>
                    <a href="https://coders.tokyo">View more</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 p-4">
            <div class="d-flex align-items-center flex-column flex-md-row">
                <img src="https://picsum.photos/64/64" class="rounded-circle">
                <div class="ml-4">
                    <p class="h5">Coders.Tokyo</p>
                    <p>Cộng đồng học lập trình miễn phí đầu tiên tại Việt Nam</p>
                    <a href="https://coders.tokyo">View more</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 p-4">
            <div class="d-flex align-items-center flex-column flex-md-row">
                <img src="https://picsum.photos/64/64" class="rounded-circle">
                <div class="ml-4">
                    <p class="h5">Coders.Tokyo</p>
                    <p>Cộng đồng học lập trình miễn phí đầu tiên tại Việt Nam</p>
                    <a href="https://coders.tokyo">View more</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>